---
import { Icon } from 'astro-icon/components';
import { getPermalink } from '~/utils/permalinks';
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-2xl text-center font-medium">
    <Icon name="tabler:info-square" class="w-7 h-7 inline-block align-text-bottom" />
    Fall Fundraiser - December 12 at 7pm
    <br>
    <span class="font-bold">
    <a class="hover:underline" href={getPermalink('/blog/fall-fundraiser-2024')}>Purchase tickets now!</a>
    </span>
  </div>
</section>
