---
import { Icon } from 'astro-icon/components';
// import { getPermalink } from '~/utils/permalinks';
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-2xl text-center font-medium">
    <Icon name="tabler:medal" class="w-7 h-7 inline-block align-text-bottom" />
    <a class="hover:underline" href='/blog/2025/hudson-regional-finals'>Team 5016 reach Finals at Hudson Valley Regional!</a>
    <!-- <br>
    <span class="font-bold">
    <a class="hover:underline" href='https://www.nysfirst.org/hudson-valley'>More Info</a>
    </span> -->
  </div>
</section>
