---
import { Icon } from 'astro-icon/components';
// import { getPermalink } from '~/utils/permalinks';
---

<section class="bg-blue-50 dark:bg-slate-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-2xl text-center font-medium">
    <Icon name="tabler:confetti" class="w-7 h-7 inline-block align-text-bottom" />
    <span class="font-bold">
      End-of-Year Dinner 
      <br>
      May 30th 6-8pm
      <br>
      Invite to Follow
    </span>
    <!-- <a class="hover:underline" href='/blog/2025/hudson-regional-finals'>Team 5016 reach Finals at Hudson Valley Regional!</a> -->
    <!-- <br>
    <span class="font-bold">
    <a class="hover:underline" href='https://www.nysfirst.org/hudson-valley'>More Info</a>
    </span> -->
  </div>
</section>
